{% extends "base.html" %}

{% block content %}


<header style="background: linear-gradient(to right, rgba(51, 51, 153, 0.271), rgba(255, 0, 204, 0.251)), url(https://raw.githubusercontent.com/coral2742/CoriDrawing/gh-pages/Imagen/Pinceles.jpg); filter: none;">
    <h1 style="padding-top: 150px; color: white;">Bienvenid@ a Cori Drawing🎨</h1>
    <h3 style="padding: 20px; color: white;">Aquí guardo algunos de los dibujos que voy haciendo</h3>
    <div class="wave" style="height: 150px; overflow: hidden; position: absolute; bottom: 0; width: 100%;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff; "></path></svg></div>
</header>






<body>
    <div class="container text-center" style="text-align: center; align-items: center; padding: 20px;">
        <div class="row align-items-center">
          <div class="col-sm">
              <img src="https://picsum.photos/500" class="figure-img img-fluid rounded-3" alt="foto cori">
          </div>
          <div class="col-sm" >
              <h1 style="text-align: center">Sobre mí</h1>
              <h4 style="text-align: justify">Me llamo Coral, soy estudiante de <span class="underline-main">Ingeniería Informática del Software</span> y en mi tiempo libre me gusta dibujar y pintar entre otras cosas. <br><br>
                  He desarrollado esta página web como portfolio para mostrar mis <span class="underline-main">dibujos</span>, pero también puedes seguirme en mis redes sociales para no 
                  perderte nada.
              </h4>
              <div class="socialcont">
                <div class="social">
                  <a href="https://www.instagram.com/cori.drawing/">
                    <img src="./drawings/static/Images/Instagram.svg" alt="Instagram logo" class="img-fluid">
                  </a>
                </div>
          
                <div class="social">
                  <a href="https://www.facebook.com/cori.drawing/">
                    <img src="./drawings/static/Images/Facebook.svg" alt="Facebook logo" class="img-fluid">
                  </a>
                </div>
          
                <div class="social">
                  <a href="https://twitter.com/CoriDrawing">
                    <img src="./drawings/static/Images/Twitter.svg" alt="Twitter logo" class="img-fluid">
          
                  </a>
                </div>
          
                <div class="social">
                  <a href="mailto: coridrawing@gmail.com">
                    <img src="./drawings/static/Images/Mail.svg" alt="Mail logo" class="img-fluid">
                  </a>
                </div>
          
              </div>
          </div>


        </div>

    </div>



    <div class="container-fluid text-center" style="background-color:#3333996c;">
        <h1>Categorías</h1>

        <div class="container text-center" style="background-color: white; padding: 60px;">
            <div class="row justify-content-md-center">

                {% for category in categories %}
                    <div class="col-sm-4" style="text-align: center;">
                        <div class="card" style="justify-content: center; align-items: center; border-color: white;">
                            <!-- <img src="https://picsum.photos/300" class="figure-img img-fluid rounded-circle" alt="foto category"> -->
                            <a href="{% url 'draws' category.title %}">
                              <div class="imagen-port">
                                
                                  <img src="https://picsum.photos/300" class="figure-img img-fluid" alt="foto category" href="{% url 'index' %}">

                                  <div class="hover-galeria">
                                      <p class="category-text">{{ category.title }}</p>
                                  </div>
                              </div>
                            </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ category.title }}</h5>
                            <p class="card-text">{{ category.description }}</p>
                        </div>
                        </div>
                    </div>

                {% endfor%}


            </div>
        </div>


    </div>
</body>

{% endblock content %}



