{% extends "base.html" %}

{% block content %}


<header style="background: linear-gradient(to right, rgba(51, 51, 153, 0.271), rgba(255, 0, 204, 0.251)), url(https://raw.githubusercontent.com/coral2742/CoriDrawing/gh-pages/Imagen/Pinceles.jpg);">
    <h1 style="padding-top: 150px; color: white;">UPS... Ha ocurrido un error</h1>
    <div class="wave" style="height: 150px; overflow: hidden; position: absolute; bottom: 0; width: 100%;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff; "></path></svg></div>

</header>

<body>
    <div class="error container-fluid text-center" style="padding-bottom: 30px;">
        <h3 style="padding: 20px; color: #000000;">Prueba a volver a la página de Inicio</h3>

        <a href="{% url 'index' %}" class="boton">Volver a Inicio</a>
    </div>
</body>





{% endblock content %}
