header {
    height: 500px;
    background: rgb(255, 0, 204);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(51, 51, 153), rgb(255, 0, 204));
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;

    text-align: center;
}