* { 
    padding:0;
    margin:0;
}

header {
    height: 500px;
    background: #ff00cc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;

    text-align: center;
}

.coral h2 {
    font-size: 10px;
}



footer {
    background-color: #333;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textosocial {
    height: 50px;
}

.creditos{
    text-align: right;
}

.creditos h2{
    font-size: 20px;
}





.socialcont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}

.socialcont img{
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
}

.social img:hover {
    margin-top: -30px;
}

.imagen-port:hover img {
    transform: scale(1.1) saturate(1.5);
    opacity: 0.8;
  }




.error {
    height: 150px;
}






















.imagen-port {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

    background: linear-gradient(135deg, #7676ff, #f978df);
  }
  
  .imagen-port img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(135deg, #7676ff, #f978df);
  }
  
  .imagen-port:hover img {
    transform: scale(1.2);
  }
  
  .imagen-port::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s, background-color 0.5s;
    background: linear-gradient(135deg, #7676ff, #f978df);
    z-index: -1;
  }
  
  .imagen-port:hover::before {
    opacity: 1;
    background-color: rgba(255, 0, 183, 0.5);
  }
  
  .hover-galeria {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .imagen-port:hover .hover-galeria {
    opacity: 1;
  }
  
  .category-text{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  